@font-face {
  font-family: "Greycliff CF";
  src: url("../fonts/greycliff/GreycliffCF-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("../fonts/greycliff/GreycliffCF-ThinOblique.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("../fonts/greycliff/GreycliffCF-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("../fonts/greycliff/GreycliffCF-ExtraLightOblique.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("../fonts/greycliff/GreycliffCF-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("../fonts/greycliff/GreycliffCF-LightOblique.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("../fonts/greycliff/GreycliffCF-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("../fonts/greycliff/GreycliffCF-RegularOblique.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("../fonts/greycliff/GreycliffCF-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("../fonts/greycliff/GreycliffCF-MediumOblique.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("../fonts/greycliff/GreycliffCF-DemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("../fonts/greycliff/GreycliffCF-DemiBoldOblique.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("../fonts/greycliff/GreycliffCF-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("../fonts/greycliff/GreycliffCF-BoldOblique.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("../fonts/greycliff/GreycliffCF-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("../fonts/greycliff/GreycliffCF-ExtraBoldOblique.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("../fonts/greycliff/GreycliffCF-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("../fonts/greycliff/GreycliffCF-HeavyOblique.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Code Saver";
  src: url("../fonts/code-saver/CodeSaver-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Code Saver";
  src: url("../fonts/code-saver/CodeSaver-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Code Saver";
  src: url("../fonts/code-saver/CodeSaver-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Code Saver";
  src: url("../fonts/code-saver/CodeSaver-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Code Saver";
  src: url("../fonts/code-saver/CodeSaver-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Code Saver";
  src: url("../fonts/code-saver/CodeSaver-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
