@import url("./fonts.css");

:root {
  --font-sans: "Greycliff CF", system-ui, sans-serif;
  --font-mono: "Code Saver", ui-monospace, monospace;
}

body {
  font-family: var(--font-sans);
}

button,
input,
select,
textarea {
  font: inherit;
}

code,
pre,
kbd,
samp {
  font-family: var(--font-mono);
}
